.card{
  background-image: url('https://mdbootstrap.com/img/Photos/Horizontal/Nature/full%20page/img(11).webp');
  background-size: cover;
  background-repeat: no-repeat;
  color: black;
}

a:hover{
  color:red
}
