<div class="container">
  <div class="card">
    <img
      src="https://static.vecteezy.com/system/resources/previews/003/805/189/original/paper-art-online-shopping-on-smart-phone-buy-sell-on-mobile-technology-marketing-illustration-for-cover-page-design-on-website-free-vector.jpg"
      class="card-img-top"
      alt="cover"
    />
    <div class="card-body">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-floating mb-3">
          <input
            type="email"
            class="form-control"
            formControlName="email"
            id="floatingInput"
            placeholder="name@example.com"
            required
          />
          <label for="floatingInput" class="form-label">Email</label>
          <span
            class="text-danger"
            *ngIf="
              !loginForm.get('email')?.valid && loginForm.get('email')?.touched
            "
            >Error Pattern</span
          >
        </div>
        <div class="form-floating mb-3">
          <input
            type="password"
            class="form-control"
            formControlName="password"
            placeholder="Password"
            id="floatingPassword"
            required
          />
          <label for="floatingPassword" class="form-label">Password</label>
          <span
            class="text-danger"
            *ngIf="
              !loginForm.get('password')?.valid &&
              loginForm.get('password')?.touched
            "
            >Error Pattern</span
          >
        </div>
        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="!loginForm.valid"
        >
          SignIn
        </button>
      </form>
    </div>
    <h4>
      Don't have an account?
      <a routerLinkActive="active" routerLink="/register"> Click here</a>
    </h4>
  </div>
</div>
