<div class="container">
  <h1 class="text-danger">SignUp</h1>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label class="form-label">Email</label>
      <input  type="email" class="form-control" formControlName="email" required email />
    </div>
    <div class="mb-3">
      <label class="form-label">Password</label>
      <input type="password" class="form-control" formControlName="password" required />
    </div>
    <div class="mb-3">
      <label class="form-label">Name</label>
      <input type="text" class="form-control" formControlName="name" required />
    </div>
    <div class="mb-3">
      <label class="form-label">Role</label>
      <select class="form-select" aria-label="Default select example" formControlName="role">
        <option selected *ngFor="let role of dataRoles">{{role}}</option>
      </select>
    </div>
    <div class="mb-3">
      <label class="form-label">Avatar</label>
      <input type="text" class="form-control" formControlName="avatar" required />
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!registerForm.valid">SignUp</button>
  </form>
  <hr />
  <h3>
    Hai già un account?
    <a routerLinkActive="active" routerLink="/login"> clicca qui.</a>
  </h3>
</div>
