<app-navbar></app-navbar>
<div class="container d-flex justify-content-center mt-3 ">
  <div class="card mt-2 text-center" style="width: 18rem">
    <img
      class="card-img-top"
      [src]="userProfile && userProfile.avatar"
      alt="Card image cap"
    />
    <div class="card-body">
      <h5 class="card-title">{{ userProfile && userProfile.name }}</h5>
      <p class="card-text">{{ userProfile && userProfile.role }}</p>
    </div>
    <button class="btn btn-primary" (click)="onLogout()">Logout</button>
  </div>
</div>
